<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>PP AngularJS App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/fonts.css">
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <link rel="stylesheet" type="text/css" href="css/pricing.css">
    <script src="bower_components/modernizr/modernizr.js"></script>
</head>

<body ng-app="Pricing">
<header class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-inner" style="background-color:#f2f2f2">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-3" ng-click="isCollapsed = !isCollapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand visible-xs" href="#">
                    <img src="images/moonfruit-logo.jpg" alt="moonfruit" style="width:190px" />
                </a>
            </div>
            <nav class="hidden-xs">
                <ul class="nav navbar-nav">
                    <a href="#top" role="button" class="navbar-brand" style="padding:0">
                        <img src="images/moonfruit-logo.jpg" alt="moonfruit" style="width:190px" />
                    </a>
                    <li class="dropdown">
                        <a role="button" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">
                            Dropdown <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#typeahead">Menu 1</a></li>
                            <li><a href="#typeahead">Menu 2</a></li>
                        </ul>
                    </li>
                    <li><a href="#getting_started">Another Link</a></li>
                </ul>
            </nav>
            <nav class="visible-xs collapse" collapse="!isCollapsed" style="height: 0px;">
                <ul class="nav navbar-nav">
                    <li><a href="#getting_started" ng-click="isCollapsed = !isCollapsed">Getting started</a></li>
                    <li><a href="#directives_small" ng-click="isCollapsed = !isCollapsed">Directives</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<div class="site-wrapper">
    <div class="site-wrapper-dots">
        <div class="container box" ng-controller="packagesController">
            <div class="top-container">
                <h1>Pricing page</h1>
                <p class="lead">Hello.</p>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <span app-version></span>
                    <input type="text" ng-model="nameFilter" placeholder="Search..."/>
                </div>
                <div class="col-xs-4">
                    <pre>{{annualModel || 'null'}}, {{currencyModel || 'null'}}</pre>
                </div>
                <div class="col-md-4 col-md-offset-8">
                    <div class="btn-toolbar" role="toolbar">
                        <div class="btn-group">
                            <label class="btn btn-success" ng-model="annualModel" btn-radio="'monthly'">Monthly</label>
                            <label class="btn btn-success" ng-model="annualModel" btn-radio="'annual'">Annual</label>
                        </div>
                        <div class="btn-group">
                            <label class="btn btn-primary" ng-model="currencyModel" btn-radio="'GBP'">GBP £</label>
                            <label class="btn btn-primary" ng-model="currencyModel" btn-radio="'USD'">USD $</label>
                            <label class="btn btn-primary" ng-model="currencyModel" btn-radio="'AUD'">AUD $</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-pricing-boxes row">
                <div article class="col-md-4 font-regular" ng-repeat="package in packages | filter: nameFilter"></div>
            </div>
        </div>
    </div>
</div>

<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-mocks/angular-mocks.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="pricing/pricing.js"></script>
<script src="pricing/pricing-services.js"></script>
<script src="pricing/pricing-controllers.js"></script>
<script src="pricing/pricing-filters.js"></script>
<script src="pricing/pricing-directives.js"></script>
</body>
</html>
