<!-- Pricing column -->
<div class="row main-top">
    <div class="col-md-12">
        Buy now
    </div>
</div>
<div class="row main-description" style="background-color:{{ package.colour }};">
    <div class="col-md-12" >
        <div class="row package-name">
            <div class="col-xs-12">
                <h3>{{ package.name }}</h3>
                <p>
                    <span class="big-price">{{ currencies[currencyModel].symbol }} {{ package.prices[annualModel].newPrice * currencies[currencyModel].exchangeRate | solidFraction}}</span>.{{ package.prices[annualModel].newPrice * currencies[currencyModel].exchangeRate | decimalFraction}}{{ annualModel }}
                    (was {{ currencies[currencyModel].symbol }} {{ package.prices[annualModel].oldPrice * currencies[currencyModel].exchangeRate  | solidFraction}})<br/>
                    Total {{ currencies[currencyModel].symbol }} {{ package.prices[annualModel].total * currencies[currencyModel].exchangeRate | solidFraction}} per year
                </p>
            </div>
        </div>
        <div class="row">
            Discount: {{ packageprices.annual.discount }}%
        </div>
        <div class="row">
            {{package.storage}} storage
        </div>
        <div class="row">
            <a href="#" tooltip-placement="right" tooltip-html-unsafe="I've been made<br/><b>bold</b>!">{{package.bandwidth}} bandwidth</a>
        </div>
        <div class="row">
            TEST websites
        </div>
        <div class="row">
            Mobile optimised
        </div>
        <div class="row">
            Shop
        </div>
        <div class="row faded">
            Lorem ipsum
        </div>
        <div class="row faded">
            Lorem ipsum
        </div>
        <div class="row faded">
            Lorem ipsum
        </div>
        <div class="row faded">
            Lorem ipsum
        </div>
        <div class="row grayscale">
            Lorem ipsum
        </div>
        <div class="row grayscale">
            Lorem ipsum
        </div>
        <div class="row grayscale">
            Lorem ipsum
        </div>
        <div class="row grayscale">
            Lorem ipsum
        </div>
    </div>
</div>
<div class="row main-bottom">
    <div class="col-md-12">
        Buy now
    </div>
</div>